
/* -- SCREEN -- */

.Screen{
overflow: hidden;
}
/*Title*/
.title{
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  padding-top: 6px;
  filter: invert(5%);
}
.title2{
  height: 35px;
  font-size: 29px;
  line-height: 35px;
  letter-spacing: 1px;
}


/*C-Bar*/
.C-Bar{
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
}
.bar{
  height: 8px;
  /* width: 100%; */
  width: 0;
  background: #2a4562;
  margin-bottom: 2px;
}


/*C-Display*/
.C-Display{
  height: calc(100% - 55px);
  width: 100%;
  padding: 0 15px;
  filter: invert(5%);
}

/* HEIGHT > 480px (Vrt y Hrz)*/
@media (min-height: 480px){
  .title{
    height: 40px;
    font-size: 31px;
    line-height: 37px;
    padding-top: 6px;
  }
  .title2{
    height: 42px;
    font-size: 35px;
    line-height: 42px;
  }
  .C-Bar{
    height: 30px;
  }  
  .bar{
    height: 10px;
  }
  .C-Display{
    height: calc(100% - 70px);
  }
}
@media (min-width: 769px) and (min-height: 600px){
  .title{
    height: 50px;
    font-size: 38px;
    line-height: 57px;
  }
  .title2{
    height: 56px;
    font-size: 43px;
    line-height: 56px;
  }
  .C-Bar{
    height: 40px;
  }  
  .C-Display{
    height: calc(100% - 90px);
  }
}



/* -- C - DISPLAY -- */

/* -- C - PENT -- */
.C-Pent{
  position: relative;
  margin: 20px 0px;
}

/*  B - OCT  */
.b-Oct{
  cursor: pointer;
  position: absolute;
  top:  24%;
  right: 100%;
  width: 17%;
  height: 55%;
  font-size: 22px;
}
.icon-up{
  position: absolute;
  top: 0;
  right: 0;
}
.icon-down{
  position: absolute;
  top: 56%;
  right: 0;
}

/*  PENTAGRAMA  */
.Pent{
  position: relative;
  /* border: 1px solid red; */
  width: 200px; 
  height: 100px;
  padding-top: 5px;
}

/*Keys img*/
.G-Key{
  /* border: 1px solid red; */
  position: absolute;
  top: -5%;
  left: 5%;
  height: 117%;
}
.F-Key{
  /* border: 1px solid red; */
  position: absolute;
  top: 19%;
  left: 5%;
  height: 54%;
}
/*PENT hr*/
.Pent hr{
  margin-top: 14px;
  width: 200px;
  height: 2px;
  background-color: black;
  border: none;
}
/*Nota*/
.c-Nota{
  position: absolute;
  top: -6px;
  left: 90px;
  width: 80px;
  height: 100%;
}
.NotaSvg{
  margin-left: 15px; 
  stroke: black;
  fill: black;
}
/*alteraciones*/
.C-Alt{
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
}
.Alt_b{
  position: relative;
  left: 8px;
  top: 23px;
  height: 37%;
}
.Alt_s{
  position: relative;
  left: 7px;
  top: 30px;
  height: 38%;
}



/* -- C-NAME -- */
.C-Name{
  /* border: 1px solid #221d1d; */
  width: 40%;
  min-width: 117px;
  padding: 0 5px;
  margin: 0px 10px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 100px;
}
.Name{
  /* border: 1px solid red; */
  font-size: 100%;
}
.Grado{
  /* border: 1px solid red; */
  padding-left: 10px;
  font-size: 30%;
}




/* DISPLAYS */
.C-Display{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items: center;
  align-content: center;
  padding-top: 5px;
}
.C-Pent{
  transform: scale(1);
  margin-left: 20px;
}
.C-Name{
  transform: scale(1.1);
}




/* -- DISPLAY 1 Y 2 -- */
.Pent-Small{
  transform: scale(.8);
  margin-left: 0px;
}
.Name-Small{
  transform: scale(.8);
}


/* HEIGHT < 400px (Hrz)*/
@media (min-width: 610px){
  .Display-2{
    justify-content:space-evenly;
  }
  .Pent-Small{
    transform: scale(.9);
    margin-left: 20px;
  }
  .Name-Small{
    transform: scale(.9);
  }
}
@media (min-width: 769px){
  .Pent-Small{
    transform: scale(1);
    margin-left: 20px;
  }
  .Name-Small{
    transform: scale(1);
  }
}

/* 400px < HEIGHT < 480px (Hrz)*/
@media (min-height: 400px){
  .Pent-Small{
    transform: scale(.8);
    margin-left: 0px;
  }
  .C-Name{
    transform: scale(1.2);
  }
  .Name-Small{
    transform: scale(.8);
  }
}
@media (min-height: 400px) and (min-width: 500px){
  .Display-2{
    flex-flow: column wrap;
    justify-content:space-evenly;
  }
}
@media (min-height: 400px) and (min-width: 769px){
  .Display-2{
    flex-flow: row wrap;
    justify-content:space-evenly;
  }
  .Pent-Small{
    transform: scale(1);
    margin-left: 20px;
  }
  .C-Name{
    transform: scale(1.3);
  }
  .Name-Small{
    transform: scale(1);
  }
}

/* 480px < HEIGHT < 600px (Hrz,Vrt)*/
@media (min-height: 480px){
  .Display-2{
    flex-flow: column wrap;
    justify-content:space-evenly;
  }
  .Pent-Small{
    transform: scale(.8);
    margin-left: 20px;
  }
  .C-Name{
    transform: scale(1.2);
  }
  .Name-Small{
    transform: scale(.8);
  }
}
@media (min-height: 480px) and (min-width: 769px){
  .C-Pent{
    transform: scale(1.2);
  }
  .Pent-Small{
    transform: scale(.9);
    margin-left: 20px;
  }
  .C-Name{
    transform: scale(1.3);
  }
  .Name-Small{
    transform: scale(.9);
  }
}
/* 600px < HEIGHT (Hrz)*/
@media (min-height: 600px){
  .C-Pent{
    transform: scale(1.1);
  }
  .Pent-Small{
    transform: scale(.9);
    margin-left: 20px;
  }
  .Name-Small{
    transform: scale(.9);
  }
}
@media (min-height: 600px) and (min-width: 610px){
  .C-Pent{
    transform: scale(1.2);
  }
  .Pent-Small{
    transform: scale(1);
    margin-left: 20px;
  }
  .C-Name{
    transform: scale(1.3);
  }
  .Name-Small{
    transform: scale(1);
  }
}
@media (min-height: 600px) and (min-width: 769px){
  .C-Pent{
    transform: scale(1.4);
  }
  .Pent-Small{
    transform: scale(1.1);
    margin-left: 20px;
  }
  .C-Name{
    transform: scale(1.4);
  }
  .Name-Small{
    transform: scale(1.1);
  }
}






/* -- DISPLAY 3 -- */
.Pent-Special{
  transform: scale(.8);
  margin: 10px 0px;
  order: 1;
}
.Name-Special{
  transform: scale(1);
  width: 20%;
  min-width: 110px;
  font-size: 60px;
  margin: 0 30% -30px 30%;
  order: 2;
}
.Display-Special{
  flex-flow: row wrap-reverse;
  align-content: space-around;
}

/* WIDTH < 535px (Hrz)*/
@media (max-width: 535px){
  .Display-Special{
    flex-flow: column wrap-reverse;
    justify-content: space-evenly;
  }
  .Name-Special{
    transform: scale(1.2);
    margin: 40px 0;
  } 
}
@media (max-width: 535px) and (min-height: 480px){
  .Pent-Special{
    transform: scale(.8);
  }
  .Name-Special{
    transform: scale(1.3);
   
  }
}
@media (max-width: 535px) and (min-height: 540px){
  .Display-Special{
    justify-content: space-evenly;
  }
  .Pent-Special{
    margin: 10px 0px;
    order: 2;
  }
  .Name-Special{
    margin: 10px 0;
    order: 1;
  }
}



/* 535px < WIDTH < 769px (Hrz)*/
@media (min-width: 535px) and (min-height: 380px){
  .Display-Special{
    flex-flow: column wrap-reverse;
    justify-content: space-evenly;
  }
  .Pent-Special{
    transform: scale(.8);
    margin: 10px 0px;
  }
  .Name-Special{
    transform: scale(1.4);
    font-size: 60px;
    margin: 15% 0 15% 20px;
  }
}

/* 535px < WIDTH < 769px (Vrt)*/
@media (min-width: 535px) and (min-height: 480px){
  .Display-Special{
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
  }
  .Pent-Special{
    transform: scale(1);
    margin: 20px 20px;
    order: 1;
  }
  .Name-Special{
    transform: scale(1.4);
    font-size: 60px;
    width: 100%;
    margin: 0 0 -30px 0;
    order: 2;
  }
}
@media (min-width: 535px) and (min-height: 540px){
  .Display-Special{
    padding-top: 20px;
  }
  .Name-Special{
    transform: scale(1.6);
  }
}
@media (min-width: 535px) and (min-height: 600px){
  .Pent-Special{
    transform: scale(1.1);
  }  
  .Name-Special{
    transform: scale(1.6);
  }
}

/* 769px < WIDTH (Hrz)*/
@media (min-width: 769px) and (min-height: 380px){
  .Display-Special{
    flex-flow: row wrap-reverse;
    justify-content: space-evenly;
  }
  .Pent-Special{
    transform: scale(1.1);
    margin: 20px 20px;
    order: 1;
  }
  .Name-Special{
    transform: scale(1.4);
    font-size: 60px;
    width: 50%;
    margin: 0 0 -30px 0;
    order: 2;
  }
}
@media (min-width: 769px) and (min-height: 480px){
  .Pent-Special{
    transform: scale(1.2);
  }
  .Name-Special{
    transform: scale(1.5);
  }
}
@media (min-width: 769px) and (min-height: 540px){
  .Name-Special{
    transform: scale(1.6);
  }
}
@media (min-width: 769px) and (min-height: 600px){
  .Pent-Special{
    transform: scale(1.2);
  }  
  .Name-Special{
    transform: scale(1.7);
  }
}












/* COLORES */
/* -- SCREEN -- */
.title,
.C-Display{
  filter: invert(5%);
}
.Pent hr{
  background-color: #000000;
}
.NotaSvg{
  stroke: #000000;
  fill: #000000;
}
.C-Alt{
  color: #000000;
}

.bar{
  background: #2a4562;
}









/*Claves*/
/*svg*/


