/*cursor, al seleccionar texto*/
::selection{
  background-color: #0095eb;
  color: white;
}
/*cursor, al seleccionar texto en Mozila*/   
::-moz-selection{
  background-color: #0095eb;
  color: white; 
}
/*fin Normalizadores*/

/*
ejemplo:"div.marco*9>(div.foto>img)+(a[href="#"])+p{aquí va el texto}"
*/
/*
@media (max-width: 1239px)
@media (max-width: 959px)
@media (max-width: 767px)
@media (max-width: 479px)
*/


/*--- TIPOGRAFIA ---*/
body{
  color: #081025;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  letter-spacing: 0px;
}
h1{
  font-family: "Nunito Sans", sans-serif;
  font-size: 72px;
  line-height: 80px;
  font-weight: 300;
  letter-spacing: 2px;
}
h2{
  font-family: "Nunito Sans", sans-serif;
  font-size: 46px;
  line-height: 56px;
  font-weight: 400;
  letter-spacing: 1px;
}
h3{
  font-family: "Nunito Sans", sans-serif;
  font-size: 28px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0px;
}
h4{
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}
h5{
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 700;
}
b{
  font-weight: 700;
}
::placeholder{
  font-family: 'Poppins', sans-serif;
  color: #6262628e;
}
/*--- @media - TIPOGRAFIA ---*/
@media (max-width: 959px){
  body {
    font-size: 13px;
    line-height: 23px; 
  }
  h1{
    font-size: 61px;
    line-height: 68px;
  }
  h2{
    font-size: 39px;
    line-height: 48px;
  }
  h3{
    font-size: 24px;
    line-height: 38px;
  }
  h4{
    font-size: 21px;
    line-height: 26px;
  }
  h5{
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 767px){
  body {
    font-size: 13px;
    line-height: 20px; 
  }
  h1{
    font-size: 54px;
    line-height: 60px;
  }
  h2{
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 21px;
    line-height: 34px;
  }
  h4 {
    font-size: 19px;
    line-height: 23px;
  }
  h5{
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 479px){
  body {
    font-size: 13px;
    line-height: 19px; 
  }
  h1{
    font-size: 43px;
    line-height: 48px;
    letter-spacing: 1px;
  }
  h2{
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 17px;
    line-height: 27px;
  }
  h5{
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
  }
}



/*--- ESTILOS GENERALES ---*/
.Container{
  padding: 0 30px;
}
.w_1060{
  max-width: 1060px;
}

/*-- Boton N{v} --*/
.BotNv{
  cursor: pointer;
  position: fixed;
  z-index: 200;
  background: #ffffff;
  top: 8px;
  left: 0;
  opacity: .8;
}
.BotNv>a{
  width: 100%;
  height: 100%;
}
.BotNv>a>h3{
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 5px 8px;
  color: #353535;
}
.BotNv>a>h3>span{
  color: #407c44;
}



/*--- @media - ESTILOS GENERALES ---*/ 
@media (max-width: 1239px){
  .w_1060{
    max-width: 940px;
  }
}
@media (max-width: 959px){
  .w_1060{
    max-width: 708px;
  }
}
@media (max-width: 767px){
  .w_1060{
    max-width: 480px;
  }
  .BotNv{
    top: unset;
    left: unset;
    bottom: 16px;
    right: 0;
  }
  .BotNv>a>h3{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 2px;
  }
}  
/*------- NAV -------*/
.Caja-nav{
  position: relative;
  width: 100%;
  height: 90px;
  z-index: 100;
}
.sticky{
  top: 0px;
  position: fixed;
  width: calc(100% - 60px);
  left: 30px;
  top: 0;
  opacity: .97;
}
.Nav{
  background-color: #ffffff;
  position: static;
  left: 0;
  top: -60px;
  width: 100%;
}
.Nav>.Menu{
  width: 30%;
}
.Nav>.Logo{
  padding: 20px 40px;
  margin: 0 13px;
}
.Nav>.Menu>li{
  display: inline-block;
  text-align: center;
}
.Nav>.Menu a{
  text-decoration: none;
  position: relative;
  color: #081025;
  line-height: 60px;
  font-weight: 400;
  padding: 0 20px;
}
/*raya - before y after*/
.Nav>.Menu a>.raya{
  position: absolute;
  content: '';
  background: #081025;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.Nav>.Menu a:hover .raya{
  opacity: 1;
}
.before{
  left: 10%;
  top: 82%;
  width: 80%;
  height: 1px;
}
.after{
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 4px;
}
/*--- Boton-menu  ---*/
#Boton-menu{
  padding: 5px;
  width: 32px;
  cursor: pointer;
  top: 32px;
  right: 12%;
}
#Boton-menu>.raya{
  height: 1px;
  background-color: #081025;
}
#Boton-menu>.raya-mid{
  margin: 6px 0;
}
/*---  @media - NAV  ---*/
@media (max-width: 1239px){
  #Boton-menu{
    display: block;
  }
  .Nav>.Menu{
    display: none;
    position: absolute;
    background: #ffffff;
    width: 300px;
    height: 133px;
    top: 90px;
    right: 10%;
    overflow: visible;
    z-index: 100;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Nav>.Menu2{
    top: 223px;
  }
  .Nav>.Menu>li{
  display: block;
  }
  .Nav>.Menu a{
    text-decoration: none;
    display: block;
    color: #081025;
    line-height: 44px;
    font-weight: 400;
    padding: 0 25px;
    text-align: center;
  }
  .Nav>.Menu a>.raya{
    display: none;
  }
}
@media (max-width: 767px){
  .Nav{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
  }
  .Nav>.Menu{
    width: 100%;
    right: 0;
  }
  .Nav>.Logo{
    padding: 20px 2px;
  }
  #Boton-menu{
    right: 11px;
  }
}


/*--- FOOTER ---*/

.Wrap-footer{
  color: #6e7077;
  border-top: 1px solid rgba(255,255,255,.1);
  width: 98%;
  min-height: 33px;
  padding: 30px 60px 30px 0;
}
.Wrap-footer>.Copy a{
  text-decoration: none;
  color: #081025;
}
.Wrap-footer>.Copy a:hover{
  text-decoration: underline;
}
.Wrap-footer>.Social a{
  color: #6e7077;
  padding: 0 6.5px;
  margin: 0 1px;
  transition: color .3s ease-in-out;
}
.Wrap-footer .Social a:hover{
  color: #081025;
}
/*--- Boton-up ---*/
.Boton-up{
  right: 3px;
  bottom: 22px;
}
.Boton-up>a{
  color: #6e7077;
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 20px;
}
/*--- @media FOOTER ---*/
@media (max-width: 959px){
  .Wrap-footer .Social a{
    font-size: 15px;
    line-height: 27px;
  }
}
@media (max-width: 767px){
  footer{
    padding: 0 33px;
  }
  .Wrap-footer{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 75px 0 20px;  
    min-height: 33px;
  }
  .Wrap-footer>.Social{
    padding: 0 50px;
  }
  .Wrap-footer>.Copy{
    margin-bottom: 7px;
  }
  .Wrap-footer .Boton-up{
    top: 15px;
    right: calc(50% - 21px);
  }
}




     /*--- pagina 1 - HOME ---*/

/*--- HOME(1) - HEADER ---*/
.Wrap-Hdr{
  position: relative;
}
.Wrap-HmHdr{
  height: calc(100vh - 160px);
  max-height: 840px;
}
.Wrap-HmHdr .Caja-fotos{
  position: relative;
  width: 100%;
  height: calc(100vh - 160px);
  max-height: 840px;
  top: 0;
  left: 0px;
  overflow: hidden;
}
.Wrap-HmHdr .Caja-fotos>img{
  min-width: 1013px;
  display: inline-block;
  position: absolute;
  top: calc((100% - ((100vw - 60px) * 0.459)) / 2);
  left: 0px;
  opacity: 1;
  transform: scale(1.05);
}

/*-- animacion - fotos --*/
@keyframes shlunggg{
  from{opacity: 1;
      transform: scale(1.05);}
  23%{opacity: 1;}
  25%{opacity: 0;}
  30%{transform: scale(1.2);}
  94%{transform: scale(1.02);}
  97%{opacity: 0;}
  98%{opacity: 1;}  
  to{opacity: 1;
  transform: scale(1.05);}
}
.anim-shlunggg{
  animation-name: shlunggg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Wrap-HmHdr .Caja-fotos>.foto3{
  animation-delay: 2.5s;
}
.Wrap-HmHdr .Caja-fotos>.foto2{
  animation-delay: 5s;
}
.Wrap-HmHdr .Caja-fotos>img.foto1{
  animation-delay: 7.5s;
}
/*--- @media - HOME(1) - HEADER ---*/
@media (max-width: 1090px){
  .Wrap-HmHdr .Caja-fotos>img{
    top: calc((100% - 465.172px) / 2);
    left: calc((100% - 1010px) / 2);
  }
} 


/*--- HOME(1) - SECTION 1 ---*/
.HmSec1{
  background-image: url(img/model2-home-bg.jpg);
  padding: 150px 0 125px;
}
.HmSec1>.Wrap-sec1>h3{
  width: 73%;
  letter-spacing: 5px;
}
.HmSec1 .Caja-boxes{
  padding-top: 76px;
}
.HmSec1 .Box{
  width: 25%;
  padding: 0 3%;
  margin-bottom: 40px;
}
.HmSec1 .Box>.image{
  margin-bottom: 50px;
}
.HmSec1 .Box>h4{
  margin-bottom: 15px;
}
/*--- @media - HOME(1) - SECTION 1 ---*/
@media (max-width: 767px){
  .HmSec1 .Caja-boxes{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .HmSec1>.Wrap-sec1>h3{
    width: 100%;
    padding: 0 33px;
  }
}


/*--- HOME(1) - SECTION 2 ---*/
.HmSec2>.Wrap-sec2{
  width: 100%;
  background-image: url(img/model2-home-dots-bg.jpg);
  padding: 9% 32px 7.5%;
}
.HmSec2 .Caja-texto{
  max-width: 636px;
  padding: 60px 5%;
  background:#000000;
}
.HmSec2 .Caja-texto>h2{
  color: #ffffff;
  padding: 0 3% 10px;
}
.HmSec2 .Caja-texto>.raya{
  width: 200px;
  height: 1px;
  margin: 15px auto;
  background: #ffffff;
}
.HmSec2 .Caja-texto>p{
  color: #ffffff;
  margin-bottom: 35px ;
}
.HmSec2 .Caja-texto>a{
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
  letter-spacing: 4px;
  padding: 11px 20px;
}
/*--- @media - HOME(1) - SECTION 2 ---*/
@media (max-width: 959px){
  .HmSec2 .Caja-texto{
    max-width: 536px;
  }
}
@media (max-width: 767px){
  .HmSec2 .Caja-texto{
    padding: 20% 20px;
  }
  .HmSec2 .Caja-texto>a{
    display: block;
  }
}
@media (max-width: 479px){
  .HmSec2 .Caja-texto>.raya{
  width: 75%;
  }
}








     /*--- pagina 2 - MODELS ---*/

/*--- MODELS(2) - HEADER ---*/
.Wrap-MdHdr{
  padding: 125px 0;
}

/*--- MODELS(2) - SECTION 1 ---*/
.MdSec1 .Menu-gal{
  padding-top: 30px;
}
.MdSec1 ul{
  border-bottom: 1px solid rgba(0,0,0,.08);
}
.MdSec1 ul>li{
  cursor: pointer;
  color: #858585;
  padding: 14px 25px;
  position: relative;
}
.MdSec1 ul>li:first-child{
  color: #081025;
}
.MdSec1 ul>li>.raya{
  display: none;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #081025;
}
.MdSec1 ul>li:first-child>.raya{
  display: block;
}

/*Galeria*/
.MdSec1 .Foto{
  width: 31.333%;
  position: relative;
  margin: 0 1% 20px;
  opacity: 1;
  /*transition: all .2s linear;*/
}

.MdSec1 .Foto>.Tapa{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(8, 16, 37, 0.8);
  opacity: 0;
  transition: opacity .2s linear;
}
.Foto:hover .Tapa{
  opacity: 1;
}
.MdSec1 .Foto .Tapa-texto{
  padding: 10% 10% 0;
}
.MdSec1 .Foto .Tapa-texto>hr{
  width: 20px;
  height: 3px;
  background: #ffffff;
  border: none;
  margin: 15px 0;
}
.MdSec1 .Foto .Tapa-link{
  padding: 0 8% 20px;
  font-size: 20px;
}
.MdSec1 .Foto .Tapa-link i{
  padding: 7px;
  cursor: pointer;
  transform: translateY(0);
  transition: transform .3s ease-in-out;
}
.MdSec1 .Foto .Tapa-link i:hover{
  transform: translateY(-3px);
}
/*Modal*/
.MdSec1 .Modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
.MdSec1 .Modal>.Light{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 4, 0.8);
}
.MdSec1 .Modal>.Light>img{
  max-height: 87vh;
  max-width: 93vw;
}

/*--- @media - MODELS(2) - SECTION 1 ---*/
@media (max-width: 767px){
  .MdSec1{
    padding: 0 33px;
  }
  .MdSec1 .Galeria{
    margin: 0 0 40px;
  }
  .MdSec1 .Foto{
    width: 100%;
    margin: 0 0 20px;
  }
}












     /*--- pagina 3 - DETAILS ---*/

/*--- DETAILS(3) - SECTION 1 ---*/
.DtSec1{
  padding: 100px 0 50px;
}
.DtSec1>.Wrap-sec1{
  padding: 0 5%;
}
.DtSec1 .Model-data>h1{
  font-weight: 400;
}
.DtSec1 .Model-data>p{
  padding-bottom: 65px;
}
.DtSec1 .Details>.Col{
  width: 48%;
  margin: 0 1% 11px;
}
.DtSec1 .Details>.Col1{
  text-align: right;
}
.DtSec1 .Details>.Col2{
  text-align: left;
}
/*--- @media - DETAILS(3) - SECTION 1 ---*/

@media (max-width: 767px){
  .DtSec1 .Model-data{
  padding: 0 33px;
}
  .DtSec1 .Details>.Col{
    width: 98%;
    text-align: center;
  }
  .DtSec1 .Details>.Col1{
    margin-bottom: 0;
  }
}


/*--- DETAILS(3) - SECTION 2 ---*/
/*Gal-detail*/
.DtSec2 .Portfolio{
  width: calc(50% - 2%);
  padding: 0 .5%;
  margin: 0 1% 40px;
  cursor: pointer;
}
.DtSec2 .Portfolio>.Tapa{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 20px;
  opacity: 0;
  transition: all .2s linear;
}
.DtSec2 .Portfolio>.Tapa:hover{
  opacity: 1;
}
.DtSec2 .Portfolio .icono{
  padding: 16.5px 20px;
  background: #081025cc;
  border-radius: 2px;
}
.DtSec2 .icono:hover{
  color: #081025;
  background: #ffffff;
}
/*Light*/
.DtSec2>.Light-content{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b0b0bc0;
  z-index: 101;
  display: none;
}
.DtSec2 .Light{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.DtSec2 .Light>img{
  max-height: 87vh;
  max-width: 93vw;
}
/*prev y next*/
.DtSec2>.Caja-VP{
  position: fixed;
  cursor: pointer;
  width: 80px;
  height:80px;
  bottom: 40px;
  background: #EEEEEE;
  z-index: 99;
}
.DtSec2>.Prev{
  left: 0;
}
.DtSec2>.Next{
  right: 0;
}
.DtSec2>.Caja-VP>i{
  font-size: 230%;
  color: #858585;
}
.DtSec2 .Vista-previa{
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .1s ease-in-out;
}
.DtSec2 .Vista-previa:hover{
  opacity: 0;
}
/*--- @media - DETAILS(3) - SECTION 2 ---*/
@media (max-width: 767px){
  .DtSec2{
    padding: 0 33px;
  }
  .DtSec2 .Portfolio{
    width: 98%;
    margin: 0 1% 20px;
    cursor: pointer;
  }
  .DtSec2 .Details>.Col1{
    margin-bottom: 0;
  }
  .DtSec2>.Caja-VP{
    display: none;
  }
}

/*--- DETAILS(3) - SECTION 3 ---*/
.DtSec3{
  width: 100%;
  padding: 100px 0 75px;
}
.DtSec3>.Wrap-sec3{
  padding: 0 7%;
}
.DtSec3 .Caja-texto>h2{
  padding: 0 3% 10px;
}
.DtSec3 .Caja-texto>.raya{
  background-color: rgba(0,0,0,.08);
  width: 200px;
  height: 1px;
  margin: 15px auto;
}
.DtSec3 .Caja-texto>p{
  margin: 0 2% 35px;
}
.DtSec3 .Caja-texto>a{
  width: 38.4%;
  border: 2px solid #000000;
  color: #000000;
  border-radius: 3px;
  letter-spacing: 4px;
  padding: 11px 20px;
  transition: all .3s;
}
.DtSec3 .Caja-texto>a:hover{
  background: rgba(0,0,0,.05);
}

/*--- @media - DETAILS(3) - SECTION 3 ---*/
@media (max-width: 767px){
  .DtSec3>.Wrap-sec3{
    padding: 0 30px;
  }
  .DtSec3 .Caja-texto>p{
  margin-bottom: 55px;
}
  .DtSec3 .Caja-texto>a{
    width:100%;
    display: block;
  }
}











     /*--- pagina 4 - COMPANY ---*/

/*--- COMPANY(4) - SECTION 1 ---*/
.CmSec1{
  padding: 100px 0;
}
.CmSec1>.Wrap-sec1>h3{
  width: 55%;
  padding: 0 5%;
}
.CmSec1 .Caja-col{
  padding: 51px 0 0;
}
.CmSec1 .Col{
  width: 50%;
  padding: 0 5%;
}
.CmSec1 .Col>img{
  width: 98%;
  margin: 0 1% 40px;
}
.CmSec1 .Col>.Texto{
  margin: 0 1% 40px;
}
.CmSec1 .Texto>h3{
  margin-bottom: 15px;
}
.CmSec1 .Texto>hr{
  color: #000000;
  background: #000000;
  border: none;
  width: 134px;
  height: 1px;
  margin: 18px 0 30px;
}
.CmSec1 .Texto>p{
  margin-bottom: 15px;
}
/*--- @media - COMPANY(4) - SECTION 1 ---*/
@media (max-width: 767px){
  .CmSec1>.Wrap-sec1{
    padding: 0 30px;
    max-width: 580px;
  }
  .CmSec1>.Wrap-sec1>h3{
    width: 100%;
  }
  .CmSec1 .Caja-col{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .CmSec1 .Col{
    width: 100%;
  }  
}


/*--- COMPANY(4) - SECTION 2 ---*/
.CmSec2>.Wrap-sec2>h3{
  width: 63%;
  padding: 0 5%;
  margin: 0 1% 95px;
}
.CmSec2 .Box>.Imagen{
  width: 33.333%;
  padding: 0 5%;
}
.CmSec2 .Box>.Imagen>img{
  margin: 0 auto 20px;
}
.CmSec2 .Box>.Texto{
  width: 66.666%;
  padding: 0 5%;
  margin: 0 1% 40px;
}
.CmSec2 .Box>.Texto>h3{
  margin-bottom: 30px;
}
.CmSec2 .Box>.Texto>p{
  margin-bottom: 15px;
}
/*--- @media - COMPANY(4) - SECTION 2 ---*/
@media (max-width: 767px){
  .CmSec2{
    padding: 0 5%;
  }
  .CmSec2 .Box{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .CmSec2 .Box>.Imagen{
    width: 100%;
  }
  .CmSec2 .Box>.Texto{
    width: 100%;
  }
  .CmSec2 .Box>.Texto{
    margin-bottom: 20px;
  }
}


/*--- COMPANY(4) - SECTION 3 ---*/
.CmSec3{
  width: 100%;
  padding: 100px 0 75px;
}
.CmSec3>.Wrap-sec3{
  padding: 0 7%;
}
.CmSec3 .Caja-texto>h2{
  padding: 0 3% 10px;
}
.CmSec3 .Caja-texto>.raya{
  background-color: rgba(0,0,0,.08);
  width: 200px;
  height: 1px;
  margin: 15px auto;
}
.CmSec3 .Caja-texto>p{
  margin: 0 2% 35px;
}
.CmSec3 .Caja-texto>a{
  width: 38.4%;
  border: 2px solid #000000;
  color: #000000;
  border-radius: 3px;
  letter-spacing: 4px;
  padding: 11px 20px;
  transition: all .3s;
}
.CmSec3 .Caja-texto>a:hover{
  background: rgba(0,0,0,.05);
}

/*--- @media - COMPANY(4) - SECTION 3 ---*/
@media (max-width: 767px){
  .CmSec3>.Wrap-sec3{
    padding: 0 30px;
  }
  .CmSec3 .Caja-texto>p{
  margin-bottom: 55px;
}
  .CmSec3 .Caja-texto>a{
    width:100%;
    display: block;
  }
}




     /*--- pagina 5 - HIRE US ---*/

/*--- HIRE US(5) - HEADER ---*/

/*--- HIRE US(5) - SECTION 1 ---*/
.UsSec1 .H2{
  width: 66.666%;
  padding: 75px 0;
}
.UsSec1 .Info>.Box{
  width: 33.3333%;
  min-height: 126px;
  padding-top: 10px; 
  position: relative;
}
.UsSec1 .Box:after{
  content: "";
  display: block;
  width: 42px;
  height: 3px;
  position: absolute;
  top: 31px;
  left: 45px;
  background-color: #081025;
  transition: all .3s ease-in-out;
}
.UsSec1 .Box:hover::after{
  top: 26px;
}
.UsSec1 .Box>.Texto{
  margin: 0 1% 40px;
  padding: 10px 0 10px 145px;
}
.UsSec1 .Box h5{
  margin-bottom: 20px;
  position: relative;
}
.UsSec1 .Box p{
  margin-bottom: 15px;
}
.UsSec1 .Box h5::before{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  position: relative;
  top: -15px;
  background-color: #081025;
  transition: all .3s ease-in-out;
}
.UsSec1 .Box:hover h5::before{
  width: 100px;
}
/*--- @media - HIRE US(5) - SECTION 1 ---*/
@media (max-width: 959px)and (min-width: 768px){
  .UsSec1 .Box:after{
    top: -5px;
    left: calc(50% - 21px);
  }
  .UsSec1 .Box:hover::after{
    top: -10px;
  }
  .UsSec1 .Box>.Texto{
    text-align: center;
    margin: 0 1% 40px;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 767px){
  .UsSec1{
    padding: 0 5%;
  }
  .UsSec1 .Info>.Box{
    width: 100%;
  }
}


/*--- HIRE US(5) - SECTION 2 ---*/
.UsSec2{
  padding: 50px 0 75px;
}
.UsSec2 .Wrap-h3{
  width: 33.333%;
}
.UsSec2 .Wrap-form{
  width: 66.666%;
  padding: 0 5%;
}
.UsSec2 input, .UsSec2 textarea{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0 1% 18px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 20px;
  outline: none;
  color: #000000;
  background-color: rgba(244, 246, 249, 1);
  resize: none;
  border:none;
}
.UsSec2 #email, .UsSec2 #subject{
  width: calc(50% - 2%);
}
.UsSec2 #submit{
  cursor: pointer;
  border: 2px solid #081025;
  color: #000000;
  background: #ffffff;
  border-radius: 3px;
  font-size: 15px;
  line-height: 23px;
  padding: 11px 20px;
  margin: 8px 0 40px;
  transition: all .3s;
}
.UsSec2 #submit:hover{
  background: #081025;
  color: #ffffff;
}
/*--- @media - HIRE US(5) - SECTION 2 ---*/
@media (max-width: 959px){
  .UsSec2 #submit{
    font-size: 13px;
    line-height: 21px;
  }
}
@media (max-width: 767px){
  .UsSec2{
    padding: 50px 5% 75px;
  }
  .UsSec2>.Wrap-sec2{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .UsSec2 .Wrap-h3{
  width: 100%;
  }
  .UsSec2 .Wrap-form{
    width: 100%;
  }
  .UsSec2 #email, .UsSec2 #subject{
    width: 100%;
  }
  .UsSec2 input, .UsSec2 textarea{
    margin: 0 1% 28px;
  }
}